* {
    margin: 0;
    font-family: font-family: 'Open Sans', sans-serif;
}


/* header and navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
}


/* banner style */

.banner {
    display: flex;
    align-items: center;
    margin: 0px 200px;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
}

.banner-sub {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-dis {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}